* {
    -webkit-user-select: none; /* Chrome, Opera, Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;    /* Internet Explorer/Edge */
    user-select: none;        /* 标准语法 */
}

.btn-on {
    width: 60px;
    height: 25px;
    margin:0 3px;
    border-radius: 25px;
    font-size: 14px;

    cursor: pointer;
    position: relative;
    border: 1px solid white;
    background-color: #12b090;
}

.btn-off {
    width: 60px;
    height: 25px;
    margin:0 3px;
    border-radius: 25px;
    font-size: 14px;

    cursor: pointer;
    position: relative;
    border: 1px solid white;
    background-color: #ccc;
}

.btn-on-circle {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 5px;
    left: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    box-shadow: 0 0 10px white;
    transition: all .5s
}

.btn-off-circle {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 5px;
    right: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    box-shadow: 0 0 10px white;
    transition: all .5s
}

.btn-on-text {
    position: absolute;
    right: 10px;
    line-height: 25px;
    color: white;
    transition: all .5s;
}

.btn-off-text {
    position: absolute;
    left: 10px;
    line-height: 25px;
    color: white;
    transition: all .5s;
}